<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <div th:replace="~{fragments/header-admin}"></div>
    <div th:if="${alertMessage}" class="alert"
         th:classappend="'alert-' + ${alertType}">
        <span class="alert-text" th:text="${alertMessage}"></span>
        <button class="alert-close" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    <div class="users-list">
        <h3>Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                    <td class="table-action-row">
                        <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
                        <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <h3>Sectors</h3>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sector : ${sectors}">
                <td th:text="${sector.sectorName}"></td>
                <td th:text="${sector.parentName != null ? sector.parentName : 'NO' }"></td>
                <td class="table-action-row">
                    <a th:href="@{/sectors/{id}/edit(id=${sector.id})}">Edit</a>
                    <a th:href="@{/sectors/{id}/delete(id=${sector.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
