<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body>
<div class="container">
    <div th:replace="~{fragments/header}"></div>
    <div class="login-container">

        <form th:action="@{/sectors}" method="post" class="login-form">
            <h2 class="form-header">Add Sectors</h2>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter name" th:value="${userName}" required>
            </div>
            <div class="form-group">
                <label>Sectors</label>
                <label>
                    <select name="sectors[]" id="multiple-sectors" multiple="multiple" required>
                        <option value="1">Manufacturing</option>
                        <option value="2">Food and Beverages</option>

                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="terms-conditions"></label>
                <input type="checkbox" id="terms-conditions" name="termsc-conditions" required>&nbsp; Agree to Terms and conditions.
            </div>
            <button type="submit" class="btn">Save</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#multiple-sectors').select2();
    });
</script>
</body>

</html>
