<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <div class="header">
        <div class="heading">
            <h2>Welcome! <span th:text="${userName}"></span></h2>
        </div>
        <div class="logout-btn">
            <a th:href="@{/logout}" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="login-container">

        <form th:action="@{/login}" method="post" class="login-form">
            <h2 class="form-header">Add Sectors</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" th:value="${userName}" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>

</body>
</html>
